html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: lightblue;
}
h1{
  
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
  
}
  
p{
      margin: 20px 0 ;
      font-weight: 500;
      line-height: 25px;
}
div{
    background-position: center;
}